{% extends 'base.html' %}
{% load humanize %}
{% load app_tags %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
  <div class="row mx-auto container py-4">
      {% if owner == request.user %}
          <a href="{% url 'users:profile_update' %}">
              <button type="button"
                      class="btn btn-outline-dark mx-auto btn-sm"
              >
                  Edit my profile
              </button>
          </a>
      {% endif %}
      <div class="row py-3">
        <aside class="col-auto col-md-3">
            <img style="width: 170px;" src="{{ owner|gravatar:256 }}"
                 class="rounded float-start" alt=""/>
        </aside>
        <aside class="col-auto col-md-6">
          <ul class="list-group list-group-flush" style="width: 25rem">
            <li class="list-group-item d-flex justify-content-between
            align-items-center">
                {% if owner.first_name %}
                    <span class="text-dark">
                        Name
                    </span>
                    <span class="badge bg-primary rounded-pill">
                        {{ owner.first_name }}
                    </span>
                {% else %}
                    <span class="text-dark">
                        Username
                    </span>
                    <span class="badge bg-primary rounded-pill">
                        @{{ owner.username }}
                    </span>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between
            align-items-center">
                <span class="text-dark">
                    Phone number
                </span>
                <span class="badge bg-primary rounded-pill">
                    {{ owner.owner.phone }}
                </span>
            </li>
            {% if owner.email %}
                <li class="list-group-item d-flex justify-content-between
                align-items-center">
                    <span class="text-dark">
                        Email
                    </span>
                    <span class="badge bg-primary rounded-pill">
                        {{ owner.email }}
                    </span>
                </li>
            {% endif %}
          </ul>
        </aside>
        {% if owner.owner.bio %}
        <aside class="col-auto py-3" style="max-width: 46rem">
            <div class="card">
              <div class="card-body text-dark">
                  <h5>
                      About
                      {% if owner.first_name %}
                          {{ owner.first_name }}
                      {% else %}
                          {{ owner.username }}
                      {% endif %}
                  </h5>
                  {{ owner.owner.bio }}
              </div>
            </div>
        </aside>
        {% endif %}
      </div>
  </div>
  <div class="container">
    {% if page_obj %}
        <div class="container py5">
            {% include 'ads/includes/forloop_body.html' %}
            {% include 'ads/includes/paginator.html' %}
        </div>
    {% else %}
      <h5>There are no advertisement yet</h5>
    {% endif %}
  </div>
{% endblock %}
