{% extends 'base.html' %}

{% block title %}
    Changing the password
{% endblock %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow py-3">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Changing the password</h4>
            </div>
            <form method="post">
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-outline-primary mt-2">
                    Change password
                </button>
            </form>
        </div>
    </div>
{% endblock %}